#gallery-body{
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#thumbnail{
    display : flex;
    flex-direction : column;
    justify-content: space-around;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 81, 110);
    border-radius : 20px;
}