body{
    margin : 0;
    background-image: linear-gradient(30deg, rgb(255, 166, 0), white);
}

#images{
    max-width: 25%;
    max-height : auto;
}

.flex-headings{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#main-heading{
    font-size: 10vh;
    color : rgb(255, 136, 0);
    font-family: 'Lobster', cursive;
}

#main-heading:hover {
    animation-name: main-menu-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#sub-heading{
    color : orange;
    font-size: 5vh;
    margin-top: 12vh;
    font-family: 'Lobster',cursive;
}

#sub-heading:hover{
    animation-name: menu-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes menu-hover{
    100%{
        transform: scale(1.2);
        color :rgb(255, 136, 0);
    }
}

@keyframes main-menu-hover{
    100%{
        transform: scale(1.1);
    }
}

.division{
    height : 10px;
    background-color: rgb(255, 188, 42);
    border-radius: 10px;
    margin-bottom: 10vh;
    margin-left: 5vw;
    width : 90%;
}


#introDiv{
    margin : 5vh 5vw;
    padding : 2vh 2vw; 
    border-style: solid;
    border-color: rgb(202, 155, 0);
    border-radius : 50px;
    background-image: linear-gradient(30deg,
        white,
        rgb(255, 196, 0));
}

#headingOne{
    margin-left: 29vw;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color :rgb(129, 106, 0);
}

#textOne{
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color : rgb(69, 97, 14);
    text-align: justify;
    line-height: 30px;
}

#gallery-view
{
    margin : 14vh 5vw;
    padding : 8vh 5vw;
    border-style: solid;
    border-width: 30px;
    border-color: rgb(122, 84, 0);
    border-radius: 50px;
}

#galleryPicDiv
{
    text-align: center;
}

#gallery-details
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: linear-gradient(45deg,white,rgb(170, 111, 0));
    border-radius: 50px;
    font-size: 3vh;
    font-family: "Oswald", sans-serif;
}

#gallery-pic{
    height : 100%;
    max-width : 100%;
    border-radius: 30px;
}

#download-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.links{
    text-decoration: none;
}

#resolution-slab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gallery-title{
    text-align: center;
    color: rgb(53, 43, 0);
    font-family: 'Pacifico', cursive;
    font-size: 6vh;
}

#resolutions{
    margin-left: 5px;
    padding : 1vh 0.5vw;
}

.ld{
    color :rgb(255, 217, 159);
}

.hd{
    color :rgb(255, 217, 75);
}

.fhd{
    color :rgb(255, 217, 0);
}

#resolutions:hover{
    animation-name : resolution-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes resolution-hover{
    0%{
        border-radius: 15px;
    }
    100%{
        background-color: rgb(255, 212, 72);
        color : white;
        border-radius: 15px;
    }
}

#model-name,#duration,#download{
    color :rgb(145, 123, 82);
    padding : 1vh 1vw;
} 

#model-name:hover{
    animation-name: model-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes model-hover {
    0%{
        border-radius: 20px;
    }
    100%{
        background-color: orange;
        color : whitesmoke;
        border-radius: 20px;
    }
}

#category-view{
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: linear-gradient(90deg,white,black,black);
    margin : 0vh 5vw;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(255, 166, 0);
    border-width: 10px;
}

#category-image-site{
    height : 20vh;
    width : 100%;
    border-radius: 10px;
    margin-top: 10px;
}

#category-image-site:hover {
    animation-name: pic-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes pic-hover {
    100% {
        transform: scale(1.1);
    }
}


#category-image-model{
    height : 30vh;
    width : 100%;
    border-radius: 70px;
    margin-top: 4vh;
}

#category-image-model:hover{
    animation-name: pic-hover-one;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes pic-hover-one{
    100%{
        border-radius: 30px;
        transform: scale(1.1)
    }
}

#category-item{
    display: flex;
    flex-direction: column;
}

#category-name{
    text-align: center;
    color : white;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

#category-heading{
    text-align: center;
    font-family: 'Pacifico',cursive;
    font-size: xx-large;
    color :rgb(153, 125, 0);
}

#footbar{
    width : 100%;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border-style: dotted;
    border-color: rgb(255, 186, 36);
    border-width: 5px 0px 0px 0px;
    font-family: 'Oswald',sans-serif;
    font-size: large;
}